//Imports
@import "./variables.scss";

//Global Classes
:root {
  --image-supervisor: url("../images/icon-supervisor.svg");
  --image-calculator: url("../images/icon-calculator.svg");
  --image-karma: url("../images/icon-karma.svg");
  --image-teambuilder: url("../images/icon-team-builder.svg");

  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: $grayishBlue;
}

//Mixins
@mixin textStyle($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

//Specific Classes
body {
  min-height: 100vh;
  background-color: $lightGray;
  display: flex;
  align-items: center;

  main {
    width: 80%;
    margin: 0rem auto;

    .header {
      text-align: center;
      max-width: 50rem;
      margin: 0 auto;

      .header__title {
        @include textStyle(3.3rem, 200, $darkBlue);
        line-height: 1.2;
      }

      .header__title-heavy {
        @include textStyle(3.3rem, 600, $darkBlue);
      }

      .header__description {
        margin-top: 1.4rem;
        @include textStyle(1.5rem, 400, inherit);
      }
    }

    .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5rem;

      .supervisor-bg-image {
        --img: var(--image-supervisor);
      }
      .karma-bg-image {
        --img: var(--image-karma);
      }
      .teambuilder-bg-image {
        --img: var(--image-teambuilder);
      }
      .calculator-bg-image {
        --img: var(--image-calculator);
      }

      .card {
        position: relative;
        margin: 2rem;
        padding: 3rem;
        background-color: white;
        width: 34rem;
        min-width: 30rem;
        height: 25rem;
        border-radius: 10px;
        overflow: hidden;
        background-image: var(--img);
        background-repeat: no-repeat;
        background-position: 90% 85%;
        background-size: 17%;
        box-shadow: 0px 10px 15px rgba($color: #404296, $alpha: 0.2);

        .red_color {
          --line-color: var(--red);
        }
        .cyan_color {
          --line-color: var(--cyan);
        }
        .orange_color {
          --line-color: var(--orange);
        }
        .blue_color {
          --line-color: var(--blue);
        }

        .card__top-color {
          position: absolute;
          top: 0;
          left: 0;
          height: 2%;
          width: 100%;
          background-color: var(--line-color);
        }

        .card__title {
          @include textStyle(2rem, 600, $darkBlue);
        }

        .card__description {
          @include textStyle(1.2rem, 400, inherit);
          padding-top: 1.3rem;
          max-width: 250px;
          line-height: 1.9;
        }
      }
    }
  }
}
