//Imports
@import "./variables.scss";

//Global Classes
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  color: $grayishBlue;
}

//Mixins
@mixin textStyle($size, $weight, $color) {
  font-size: $size;
  font-weight: $weight;
  color: $color;
}

//Specific Classes
body {
  min-height: 100vh;
  background-color: $lightGray;

  main {
    width: 80%;
    margin: 5rem auto;

    .header {
      text-align: center;
      max-width: 45rem;
      margin: 0 auto;

      .header__title {
        @include textStyle(3rem, 200, $darkBlue);
        line-height: 1.2;
      }

      .header__title-heavy {
        @include textStyle(3rem, 600, $darkBlue);
      }

      .header__description {
        margin-top: 1.4rem;
        @include textStyle(1.3rem, 400, inherit);
      }
    }
  }
}
